html, body {
    margin: 0;
    padding: 0;
    background-color: #15243b;
}

#container {
    width: 100%;
    
}

#canvas-container {
    width: 1400px;
    height: 400px;

    border: 2px solid white;
    background-color: #283E4A;
    
    margin: 40px auto;
}